* {
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #777;
   box-sizing: border-box;
   width: 960px;
   margin: 20px;
   content: #ebebeb;

   
}

header{
    padding: 20px;
    text-align: center;
    background-color: #ebebeb;
    
    
}
section{
    padding: 30px;
    background-color: #ebebeb;
    width: 495px;

}

#nav{
    padding: 15px;
    text-align: center;
    background-color: #ebebeb;


}
#aside{
    padding: 25px;
    float: right;
    background-color: #ebebeb;
    width: 50%;
    height: 277px;
    text-align: center;
    
}
#section{
    padding: 20px;
    background-color: #ebebeb;
    width: 45%;
    border:1px solid #ebebeb;
    text-align: center;
    
}
#article{
    padding: 20px;
    background-color: #777;
    width: 300px;
    border: 10px solid#ebebeb;
    margin-left: 10px; 
    text-align: center; 
    

}
#list{
padding: 20px;
background-color: #ebebeb;
width: 240px;
height: 20px;
margin-left: 10px;
text-align: center; 


}
#p{
padding: 20px;
background-color: #ebebeb;
width: 240px;
height: 20px;
position: relative;
margin-left: 10px;
text-align: center;


}

#footer{
    bottom: 0px; 
    left: 0px;
    background-color: #ebebeb;
    text-align: center;
    position: fixed;
    height: 30px;
    padding: 20px;



    
}
